@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.-left-7{
  left: -1.75rem;
}

.-left-\[4px\]{
  left: -4px;
}

.-left-full{
  left: -100%;
}

.-top-10{
  top: -2.5rem;
}

.-top-\[4px\]{
  top: -4px;
}

.bottom-10{
  bottom: 2.5rem;
}

.left-0{
  left: 0px;
}

.left-1\/2{
  left: 50%;
}

.left-\[33\%\]{
  left: 33%;
}

.left-\[75px\]{
  left: 75px;
}

.right-\[33\%\]{
  right: 33%;
}

.top-0{
  top: 0px;
}

.top-1{
  top: 0.25rem;
}

.top-\[20\%\]{
  top: 20%;
}

.left-\[35px\]{
  left: 35px;
}

.left-\[50\%\]{
  left: 50%;
}

.left-\[40\%\]{
  left: 40%;
}

.left-\[38\%\]{
  left: 38%;
}

.left-\[35\%\]{
  left: 35%;
}

.left-\[36\%\]{
  left: 36%;
}

.left-\[37\%\]{
  left: 37%;
}

.z-0{
  z-index: 0;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 20;
}

.z-40{
  z-index: 40;
}

.z-50{
  z-index: 50;
}

.order-1{
  order: 1;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-0{
  margin-bottom: 0px;
}

.mb-14{
  margin-bottom: 3.5rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-\[29px\]{
  margin-bottom: 29px;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-1\.5{
  margin-top: 0.375rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-24{
  margin-top: 6rem;
}

.mt-28{
  margin-top: 7rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.mt-\[20px\]{
  margin-top: 20px;
}

.mt-\[32px\]{
  margin-top: 32px;
}

.mt-12{
  margin-top: 3rem;
}

.mt-14{
  margin-top: 3.5rem;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.h-14{
  height: 3.5rem;
}

.h-96{
  height: 24rem;
}

.h-\[100px\]{
  height: 100px;
}

.h-\[193px\]{
  height: 193px;
}

.h-\[215px\]{
  height: 215px;
}

.h-\[223px\]{
  height: 223px;
}

.h-\[280px\]{
  height: 280px;
}

.h-\[2px\]{
  height: 2px;
}

.h-\[30px\]{
  height: 30px;
}

.h-\[32px\]{
  height: 32px;
}

.h-\[33px\]{
  height: 33px;
}

.h-\[3px\]{
  height: 3px;
}

.h-\[40px\]{
  height: 40px;
}

.h-\[450px\]{
  height: 450px;
}

.h-\[45px\]{
  height: 45px;
}

.h-\[46px\]{
  height: 46px;
}

.h-\[50px\]{
  height: 50px;
}

.h-\[511px\]{
  height: 511px;
}

.h-\[54px\]{
  height: 54px;
}

.h-\[550px\]{
  height: 550px;
}

.h-full{
  height: 100%;
}

.h-\[264px\]{
  height: 264px;
}

.h-\[362px\]{
  height: 362px;
}

.h-\[392px\]{
  height: 392px;
}

.h-\[292px\]{
  height: 292px;
}

.h-\[252px\]{
  height: 252px;
}

.h-\[222px\]{
  height: 222px;
}

.min-h-\[212px\]{
  min-height: 212px;
}

.min-h-\[300px\]{
  min-height: 300px;
}

.min-h-\[222px\]{
  min-height: 222px;
}

.w-14{
  width: 3.5rem;
}

.w-2\/4{
  width: 50%;
}

.w-6{
  width: 1.5rem;
}

.w-\[100px\]{
  width: 100px;
}

.w-\[150px\]{
  width: 150px;
}

.w-\[183px\]{
  width: 183px;
}

.w-\[188px\]{
  width: 188px;
}

.w-\[200px\]{
  width: 200px;
}

.w-\[240px\]{
  width: 240px;
}

.w-\[250px\]{
  width: 250px;
}

.w-\[265px\]{
  width: 265px;
}

.w-\[278px\]{
  width: 278px;
}

.w-\[280px\]{
  width: 280px;
}

.w-\[356px\]{
  width: 356px;
}

.w-\[370px\]{
  width: 370px;
}

.w-\[40px\]{
  width: 40px;
}

.w-\[450px\]{
  width: 450px;
}

.w-\[46\%\]{
  width: 46%;
}

.w-\[50px\]{
  width: 50px;
}

.w-\[550px\]{
  width: 550px;
}

.w-\[80px\]{
  width: 80px;
}

.w-full{
  width: 100%;
}

.w-\[362px\]{
  width: 362px;
}

.w-\[264px\]{
  width: 264px;
}

.w-\[290px\]{
  width: 290px;
}

.w-\[340px\]{
  width: 340px;
}

.max-w-\[1282px\]{
  max-width: 1282px;
}

.max-w-\[1440px\]{
  max-width: 1440px;
}

.max-w-\[308px\]{
  max-width: 308px;
}

.max-w-\[310px\]{
  max-width: 310px;
}

.max-w-\[328px\]{
  max-width: 328px;
}

.max-w-\[378px\]{
  max-width: 378px;
}

.max-w-\[408px\]{
  max-width: 408px;
}

.max-w-\[457px\]{
  max-width: 457px;
}

.max-w-\[570px\]{
  max-width: 570px;
}

.max-w-\[575px\]{
  max-width: 575px;
}

.max-w-\[690px\]{
  max-width: 690px;
}

.max-w-\[340px\]{
  max-width: 340px;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-\[105px\]{
  --tw-translate-x: -105px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-\[125px\]{
  --tw-translate-x: -125px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-\[140px\]{
  --tw-translate-x: -140px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-1{
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-10{
  --tw-translate-y: 2.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-5{
  --tw-translate-y: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-45{
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90{
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.resize-none{
  resize: none;
}

.resize{
  resize: both;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-10{
  gap: 2.5rem;
}

.gap-2\.5{
  gap: 0.625rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.gap-\[29px\]{
  gap: 29px;
}

.overflow-hidden{
  overflow: hidden;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-\[20px\]{
  border-radius: 20px;
}

.rounded-\[32px\]{
  border-radius: 32px;
}

.rounded-\[45px\]{
  border-radius: 45px;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.border-4{
  border-width: 4px;
}

.border-\[\#ababab\]{
  --tw-border-opacity: 1;
  border-color: rgb(171 171 171 / var(--tw-border-opacity, 1));
}

.bg-\[\#0c0c0c\]{
  --tw-bg-opacity: 1;
  background-color: rgb(12 12 12 / var(--tw-bg-opacity, 1));
}

.bg-\[\#161616\]{
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 22 / var(--tw-bg-opacity, 1));
}

.bg-\[\#696969\]{
  --tw-bg-opacity: 1;
  background-color: rgb(105 105 105 / var(--tw-bg-opacity, 1));
}

.bg-\[\#dfdfdf\]{
  --tw-bg-opacity: 1;
  background-color: rgb(223 223 223 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f4f4f4\]{
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 244 / var(--tw-bg-opacity, 1));
}

.bg-\[\#fff\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-transparent{
  background-color: transparent;
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ababab\]{
  --tw-bg-opacity: 1;
  background-color: rgb(171 171 171 / var(--tw-bg-opacity, 1));
}

.bg-Hero-bg{
  background-image: url('./Assets/Images/Home/Png/Hero-bg.png');
}

.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center;
}

.fill-\[\#000\]{
  fill: #000;
}

.fill-\[\#0c0c0c\]{
  fill: #0c0c0c;
}

.stroke-\[\#fff\]{
  stroke: #fff;
}

.p-6{
  padding: 1.5rem;
}

.p-\[15px\]{
  padding: 15px;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-\[15px\]{
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[20px\]{
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[25px\]{
  padding-left: 25px;
  padding-right: 25px;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-1\.5{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-\[12px\]{
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[25px\]{
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-\[40px\]{
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[32px\]{
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-\[52px\]{
  padding-top: 52px;
  padding-bottom: 52px;
}

.py-\[62px\]{
  padding-top: 62px;
  padding-bottom: 62px;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pb-10{
  padding-bottom: 2.5rem;
}

.pb-3\.5{
  padding-bottom: 0.875rem;
}

.pb-64{
  padding-bottom: 16rem;
}

.pt-10{
  padding-top: 2.5rem;
}

.pt-\[25px\]{
  padding-top: 25px;
}

.pt-\[76px\]{
  padding-top: 76px;
}

.pt-\[39px\]{
  padding-top: 39px;
}

.pt-\[62px\]{
  padding-top: 62px;
}

.text-center{
  text-align: center;
}

.font-dm{
  font-family: DM Sans, sans-serif;
}

.font-roboto{
  font-family: Roboto Serif, sans-serif;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[15px\]{
  font-size: 15px;
}

.text-\[16px\]{
  font-size: 16px;
}

.text-\[20px\]{
  font-size: 20px;
}

.text-\[22px\]{
  font-size: 22px;
}

.text-\[26px\]{
  font-size: 26px;
}

.text-\[27px\]{
  font-size: 27px;
}

.text-\[30px\]{
  font-size: 30px;
}

.text-\[45px\]{
  font-size: 45px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.leading-110{
  line-height: 110%;
}

.leading-121{
  line-height: 121%;
}

.leading-130{
  line-height: 130%;
}

.leading-140{
  line-height: 140%;
}

.leading-\[126\%\]{
  line-height: 126%;
}

.\!text-\[\#0c0c0c\]{
  --tw-text-opacity: 1 !important;
  color: rgb(12 12 12 / var(--tw-text-opacity, 1)) !important;
}

.\!text-\[\#fff\]{
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important;
}

.text-\[\#0c0c0c\]{
  --tw-text-opacity: 1;
  color: rgb(12 12 12 / var(--tw-text-opacity, 1));
}

.text-\[\#64CCC5\]{
  --tw-text-opacity: 1;
  color: rgb(100 204 197 / var(--tw-text-opacity, 1));
}

.text-\[\#dedede\]{
  --tw-text-opacity: 1;
  color: rgb(222 222 222 / var(--tw-text-opacity, 1));
}

.text-\[\#fbfbfb\]{
  --tw-text-opacity: 1;
  color: rgb(251 251 251 / var(--tw-text-opacity, 1));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-light_black{
  --tw-text-opacity: 1;
  color: rgb(12 12 12 / var(--tw-text-opacity, 1));
}

.text-light_green{
  --tw-text-opacity: 1;
  color: rgb(100 204 197 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-100{
  opacity: 1;
}

.opacity-20{
  opacity: 0.2;
}

.opacity-40{
  opacity: 0.4;
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-500{
  transition-duration: 500ms;
}

.duration-700{
  transition-duration: 700ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.circle_gradient_border {
  position: relative;
  background: linear-gradient(to bottom, #54e1a1 1.77%, #45abd5 97.88%);
  padding: 2px;
  /* Border width set to 2px */
  border-radius: 50%;
  /* Ensures the gradient border is circular */
  background-clip: padding-box;
  /* Clips the gradient to the border */
  opacity: 0.8;
  /* Make the outer circle's border less visible */
}

.inner_circle {
  background: #222525;
  /* Inner circle color */
  border-radius: 50%;
  /* Ensures the inner content is circular */
  width: 100%;
  /* Fills the available space */
  height: 100%;
  opacity: 1;
  /* Makes the inner circle fully visible */
}

.placeholder\:font-dm::placeholder{
  font-family: DM Sans, sans-serif;
}

.placeholder\:text-lg::placeholder{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.placeholder\:text-\[\#0c0c0c\]::placeholder{
  --tw-text-opacity: 1;
  color: rgb(12 12 12 / var(--tw-text-opacity, 1));
}

.hover\:bg-\[\#0c0c0c\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(12 12 12 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#bbbbba\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(187 187 186 / var(--tw-bg-opacity, 1));
}

.hover\:bg-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:text-\[\#ffa852\]:hover{
  --tw-text-opacity: 1;
  color: rgb(255 168 82 / var(--tw-text-opacity, 1));
}

.hover\:after\:w-\[57px\]:hover::after{
  content: var(--tw-content);
  width: 57px;
}

.group:hover .group-hover\:fill-\[\#fff\]{
  fill: #fff;
}

.group:hover .group-hover\:fill-black{
  fill: #000;
}

.group:hover .group-hover\:stroke-\[\#292556\]{
  stroke: #292556;
}

.group:hover .group-hover\:stroke-white{
  stroke: #fff;
}

.group:hover .group-hover\:text-\[\#fff\]{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 420px){
  .sm\:mr-\[25px\]{
    margin-right: 25px;
  }

  .sm\:mt-0{
    margin-top: 0px;
  }
}

@media (min-width: 768px){
  .md\:left-\[43\%\]{
    left: 43%;
  }

  .md\:right-\[43\%\]{
    right: 43%;
  }

  .md\:left-\[35px\]{
    left: 35px;
  }

  .md\:mb-0{
    margin-bottom: 0px;
  }

  .md\:mt-0{
    margin-top: 0px;
  }

  .md\:mt-10{
    margin-top: 2.5rem;
  }

  .md\:mt-14{
    margin-top: 3.5rem;
  }

  .md\:mt-3{
    margin-top: 0.75rem;
  }

  .md\:mt-4{
    margin-top: 1rem;
  }

  .md\:mt-5{
    margin-top: 1.25rem;
  }

  .md\:mt-6{
    margin-top: 1.5rem;
  }

  .md\:mt-8{
    margin-top: 2rem;
  }

  .md\:mt-\[35px\]{
    margin-top: 35px;
  }

  .md\:mt-24{
    margin-top: 6rem;
  }

  .md\:block{
    display: block;
  }

  .md\:flex{
    display: flex;
  }

  .md\:hidden{
    display: none;
  }

  .md\:h-\[120px\]{
    height: 120px;
  }

  .md\:h-\[314px\]{
    height: 314px;
  }

  .md\:h-\[38px\]{
    height: 38px;
  }

  .md\:h-\[535px\]{
    height: 535px;
  }

  .md\:h-\[590px\]{
    height: 590px;
  }

  .md\:h-\[60px\]{
    height: 60px;
  }

  .md\:h-\[81px\]{
    height: 81px;
  }

  .md\:min-h-\[272px\]{
    min-height: 272px;
  }

  .md\:min-h-\[280px\]{
    min-height: 280px;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:w-1\/4{
    width: 25%;
  }

  .md\:w-3\/6{
    width: 50%;
  }

  .md\:w-\[120px\]{
    width: 120px;
  }

  .md\:w-\[20\%\]{
    width: 20%;
  }

  .md\:w-\[25\%\]{
    width: 25%;
  }

  .md\:w-\[280px\]{
    width: 280px;
  }

  .md\:w-\[40\%\]{
    width: 40%;
  }

  .md\:w-\[520px\]{
    width: 520px;
  }

  .md\:w-\[55\%\]{
    width: 55%;
  }

  .md\:w-\[58\%\]{
    width: 58%;
  }

  .md\:w-\[590px\]{
    width: 590px;
  }

  .md\:w-\[60px\]{
    width: 60px;
  }

  .md\:max-w-\[346px\]{
    max-width: 346px;
  }

  .md\:max-w-\[355px\]{
    max-width: 355px;
  }

  .md\:max-w-\[357px\]{
    max-width: 357px;
  }

  .md\:max-w-\[600px\]{
    max-width: 600px;
  }

  .md\:max-w-\[732px\]{
    max-width: 732px;
  }

  .md\:max-w-\[742px\]{
    max-width: 742px;
  }

  .md\:max-w-\[797px\]{
    max-width: 797px;
  }

  .md\:-translate-x-\[250px\]{
    --tw-translate-x: -250px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:-translate-x-\[300px\]{
    --tw-translate-x: -300px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:-translate-x-\[340px\]{
    --tw-translate-x: -340px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:-translate-y-16{
    --tw-translate-y: -4rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:translate-y-20{
    --tw-translate-y: 5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:translate-y-\[40px\]{
    --tw-translate-y: 40px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:items-start{
    align-items: flex-start;
  }

  .md\:justify-start{
    justify-content: flex-start;
  }

  .md\:gap-5{
    gap: 1.25rem;
  }

  .md\:gap-6{
    gap: 1.5rem;
  }

  .md\:p-\[45px\]{
    padding: 45px;
  }

  .md\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:py-\[60px\]{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .md\:pb-16{
    padding-bottom: 4rem;
  }

  .md\:pb-\[103px\]{
    padding-bottom: 103px;
  }

  .md\:pb-\[186px\]{
    padding-bottom: 186px;
  }

  .md\:pb-\[450px\]{
    padding-bottom: 450px;
  }

  .md\:pb-\[60px\]{
    padding-bottom: 60px;
  }

  .md\:pb-\[80px\]{
    padding-bottom: 80px;
  }

  .md\:pt-14{
    padding-top: 3.5rem;
  }

  .md\:pt-\[107px\]{
    padding-top: 107px;
  }

  .md\:pt-\[50px\]{
    padding-top: 50px;
  }

  .md\:pt-\[86px\]{
    padding-top: 86px;
  }

  .md\:pb-\[155px\]{
    padding-bottom: 155px;
  }

  .md\:pb-\[125px\]{
    padding-bottom: 125px;
  }

  .md\:pb-\[115px\]{
    padding-bottom: 115px;
  }

  .md\:pt-\[62px\]{
    padding-top: 62px;
  }

  .md\:text-start{
    text-align: start;
  }

  .md\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-\[19px\]{
    font-size: 19px;
  }

  .md\:text-\[25px\]{
    font-size: 25px;
  }

  .md\:text-\[32px\]{
    font-size: 32px;
  }

  .md\:text-\[42px\]{
    font-size: 42px;
  }

  .md\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px){
  .lg\:left-\[45\%\]{
    left: 45%;
  }

  .lg\:right-\[45\%\]{
    right: 45%;
  }

  .lg\:order-1{
    order: 1;
  }

  .lg\:mt-0{
    margin-top: 0px;
  }

  .lg\:mt-14{
    margin-top: 3.5rem;
  }

  .lg\:mt-16{
    margin-top: 4rem;
  }

  .lg\:mt-2{
    margin-top: 0.5rem;
  }

  .lg\:mt-2\.5{
    margin-top: 0.625rem;
  }

  .lg\:mt-32{
    margin-top: 8rem;
  }

  .lg\:mt-4{
    margin-top: 1rem;
  }

  .lg\:mt-8{
    margin-top: 2rem;
  }

  .lg\:mt-\[101px\]{
    margin-top: 101px;
  }

  .lg\:mt-\[30px\]{
    margin-top: 30px;
  }

  .lg\:mt-\[54px\]{
    margin-top: 54px;
  }

  .lg\:mt-24{
    margin-top: 6rem;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:h-\[150px\]{
    height: 150px;
  }

  .lg\:h-\[360px\]{
    height: 360px;
  }

  .lg\:h-\[480px\]{
    height: 480px;
  }

  .lg\:min-h-\[308px\]{
    min-height: 308px;
  }

  .lg\:min-h-\[370px\]{
    min-height: 370px;
  }

  .lg\:w-2\/4{
    width: 50%;
  }

  .lg\:w-2\/6{
    width: 33.333333%;
  }

  .lg\:w-6\/12{
    width: 50%;
  }

  .lg\:w-\[15\%\]{
    width: 15%;
  }

  .lg\:w-\[150px\]{
    width: 150px;
  }

  .lg\:w-\[20\%\]{
    width: 20%;
  }

  .lg\:w-\[230px\]{
    width: 230px;
  }

  .lg\:w-\[25\%\]{
    width: 25%;
  }

  .lg\:w-\[285px\]{
    width: 285px;
  }

  .lg\:w-\[30\%\]{
    width: 30%;
  }

  .lg\:w-\[360px\]{
    width: 360px;
  }

  .lg\:w-\[40\%\]{
    width: 40%;
  }

  .lg\:w-\[46\%\]{
    width: 46%;
  }

  .lg\:w-\[480px\]{
    width: 480px;
  }

  .lg\:w-\[50\%\]{
    width: 50%;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:max-w-\[308px\]{
    max-width: 308px;
  }

  .lg\:max-w-\[432px\]{
    max-width: 432px;
  }

  .lg\:max-w-\[480px\]{
    max-width: 480px;
  }

  .lg\:max-w-\[600px\]{
    max-width: 600px;
  }

  .lg\:max-w-\[225px\]{
    max-width: 225px;
  }

  .lg\:-translate-y-12{
    --tw-translate-y: -3rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:-translate-y-6{
    --tw-translate-y: -1.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:translate-x-8{
    --tw-translate-x: 2rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:translate-x-\[-40px\]{
    --tw-translate-x: -40px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:translate-x-\[-80px\]{
    --tw-translate-x: -80px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:translate-y-14{
    --tw-translate-y: 3.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:translate-y-4{
    --tw-translate-y: 1rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:scale-90{
    --tw-scale-x: .9;
    --tw-scale-y: .9;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:items-start{
    align-items: flex-start;
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:justify-start{
    justify-content: flex-start;
  }

  .lg\:justify-center{
    justify-content: center;
  }

  .lg\:justify-between{
    justify-content: space-between;
  }

  .lg\:p-8{
    padding: 2rem;
  }

  .lg\:py-\[45px\]{
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .lg\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:pb-\[100px\]{
    padding-bottom: 100px;
  }

  .lg\:pb-\[105px\]{
    padding-bottom: 105px;
  }

  .lg\:pb-\[50px\]{
    padding-bottom: 50px;
  }

  .lg\:pt-14{
    padding-top: 3.5rem;
  }

  .lg\:pt-\[100px\]{
    padding-top: 100px;
  }

  .lg\:pb-\[115px\]{
    padding-bottom: 115px;
  }

  .lg\:pt-\[86px\]{
    padding-top: 86px;
  }

  .lg\:text-start{
    text-align: start;
  }

  .lg\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-\[21px\]{
    font-size: 21px;
  }

  .lg\:text-\[32px\]{
    font-size: 32px;
  }

  .lg\:text-\[40px\]{
    font-size: 40px;
  }

  .lg\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .lg\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px){
  .xl\:static{
    position: static;
  }

  .xl\:left-\[46\.5\%\]{
    left: 46.5%;
  }

  .xl\:right-\[46\.5\%\]{
    right: 46.5%;
  }

  .xl\:ms-6{
    -webkit-margin-start: 1.5rem;
            margin-inline-start: 1.5rem;
  }

  .xl\:mt-0{
    margin-top: 0px;
  }

  .xl\:mt-6{
    margin-top: 1.5rem;
  }

  .xl\:mt-8{
    margin-top: 2rem;
  }

  .xl\:mt-\[15px\]{
    margin-top: 15px;
  }

  .xl\:mt-\[183px\]{
    margin-top: 183px;
  }

  .xl\:mt-\[25px\]{
    margin-top: 25px;
  }

  .xl\:mt-\[43px\]{
    margin-top: 43px;
  }

  .xl\:mt-\[50px\]{
    margin-top: 50px;
  }

  .xl\:mt-\[51px\]{
    margin-top: 51px;
  }

  .xl\:mt-\[53px\]{
    margin-top: 53px;
  }

  .xl\:mt-\[62px\]{
    margin-top: 62px;
  }

  .xl\:mt-\[80px\]{
    margin-top: 80px;
  }

  .xl\:mt-\[85px\]{
    margin-top: 85px;
  }

  .xl\:hidden{
    display: none;
  }

  .xl\:h-\[540px\]{
    height: 540px;
  }

  .xl\:h-\[735px\]{
    height: 735px;
  }

  .xl\:h-\[81px\]{
    height: 81px;
  }

  .xl\:h-full{
    height: 100%;
  }

  .xl\:min-h-\[416px\]{
    min-height: 416px;
  }

  .xl\:min-h-\[450px\]{
    min-height: 450px;
  }

  .xl\:w-\[15\%\]{
    width: 15%;
  }

  .xl\:w-\[20\%\]{
    width: 20%;
  }

  .xl\:w-\[25\%\]{
    width: 25%;
  }

  .xl\:w-\[401px\]{
    width: 401px;
  }

  .xl\:w-\[415px\]{
    width: 415px;
  }

  .xl\:w-\[50\%\]{
    width: 50%;
  }

  .xl\:w-\[540px\]{
    width: 540px;
  }

  .xl\:w-\[720px\]{
    width: 720px;
  }

  .xl\:w-\[81px\]{
    width: 81px;
  }

  .xl\:w-auto{
    width: auto;
  }

  .xl\:max-w-\[422px\]{
    max-width: 422px;
  }

  .xl\:max-w-\[457px\]{
    max-width: 457px;
  }

  .xl\:max-w-\[517px\]{
    max-width: 517px;
  }

  .xl\:max-w-\[663px\]{
    max-width: 663px;
  }

  .xl\:max-w-\[340px\]{
    max-width: 340px;
  }

  .xl\:-translate-y-14{
    --tw-translate-y: -3.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:-translate-y-20{
    --tw-translate-y: -5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:translate-y-0{
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:flex-row{
    flex-direction: row;
  }

  .xl\:gap-12{
    gap: 3rem;
  }

  .xl\:gap-6{
    gap: 1.5rem;
  }

  .xl\:bg-transparent{
    background-color: transparent;
  }

  .xl\:p-10{
    padding: 2.5rem;
  }

  .xl\:px-\[35px\]{
    padding-left: 35px;
    padding-right: 35px;
  }

  .xl\:py-\[100px\]{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .xl\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .xl\:pb-\[130px\]{
    padding-bottom: 130px;
  }

  .xl\:pt-\[100px\]{
    padding-top: 100px;
  }

  .xl\:pt-\[162px\]{
    padding-top: 162px;
  }

  .xl\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .xl\:text-\[25px\]{
    font-size: 25px;
  }

  .xl\:text-\[56px\]{
    font-size: 56px;
  }

  .xl\:text-\[64px\]{
    font-size: 64px;
  }

  .xl\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .xl\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl\:after\:absolute::after{
    content: var(--tw-content);
    position: absolute;
  }

  .xl\:after\:left-\[-5px\]::after{
    content: var(--tw-content);
    left: -5px;
  }

  .xl\:after\:top-\[-40px\]::after{
    content: var(--tw-content);
    top: -40px;
  }

  .xl\:after\:h-\[30px\]::after{
    content: var(--tw-content);
    height: 30px;
  }

  .xl\:after\:w-\[57px\]::after{
    content: var(--tw-content);
    width: 57px;
  }

  .xl\:after\:rotate-180::after{
    content: var(--tw-content);
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:after\:border-b-\[30px\]::after{
    content: var(--tw-content);
    border-bottom-width: 30px;
  }

  .xl\:after\:border-l-\[30px\]::after{
    content: var(--tw-content);
    border-left-width: 30px;
  }

  .xl\:after\:border-r-\[30px\]::after{
    content: var(--tw-content);
    border-right-width: 30px;
  }

  .xl\:after\:border-b-\[\#ffa852\]::after{
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-bottom-color: rgb(255 168 82 / var(--tw-border-opacity, 1));
  }

  .xl\:after\:border-b-black::after{
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  }

  .xl\:after\:border-l-transparent::after{
    content: var(--tw-content);
    border-left-color: transparent;
  }

  .xl\:after\:border-r-transparent::after{
    content: var(--tw-content);
    border-right-color: transparent;
  }
}

@media (min-width: 1536px){
  .\32xl\:flex{
    display: flex;
  }

  .\32xl\:h-\[80vh\]{
    height: 80vh;
  }

  .\32xl\:w-\[35\%\]{
    width: 35%;
  }

  .\32xl\:pb-0{
    padding-bottom: 0px;
  }
}
